{
	"extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"],
	"overrides": [
		{
			"files": ["app/machines/*.ts"],
			"rules": {
				"@typescript-eslint/consistent-type-imports": [0]
			}
		}
	]
}
